<!--
VanillaHTML Module
feedback.html
Feedback Button
A floating feedback button which links to Google Forms
-->

<style>
#feedback-button {
	position: fixed;
	left: 0%;
	bottom: 5%;
	z-index: 999960;
	cursor: pointer;
	writing-mode: vertical-rl;
	text-orientation: mixed;
	background: #111C;
	color: #CCC;
	font-weight: bold;
	border-radius: 5px;
	font-size: 12px;
	padding: 15px 5px;
}
</style>


<a href="https://forms.gle/qvjLGvscAe9bnBLK9" target="_blank">
	<div id="feedback-button">
		FEEDBACK
	</div>
</a>
